@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
  position: relative;
}

.stop {
  overflow: hidden;
}
.stop .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.719);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 5;
}

.mm {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grey {
  background-color: #cecece;
  color: #fff;
}

.green {
  background-color: #93ca00;
  color: #1e4255;
}

.red {
  background-color: #b10728;
  color: #fff;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 0 50px;
  z-index: 99;
}
nav #navbar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav #navbar h1 {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 40px;
  color: #000;
  position: relative;
}
nav #navbar .cartanmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
nav #navbar .cartanmenu .cart {
  position: relative;
  font-size: 35px;
  color: #000;
  cursor: pointer;
}
nav #navbar .cartanmenu .cart .itemm {
  width: 23px;
  height: 23px;
  position: absolute;
  background: rgba(255, 255, 255, 0.937);
  top: 0;
  right: 0;
  border: 1px solid black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
nav #navbar .cartanmenu .menu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 50;
}
nav #navbar .cartanmenu .menu #t,
nav #navbar .cartanmenu .menu #b {
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav #navbar .hamburger {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 350px;
  width: 100%;
  z-index: 15;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
nav #navbar .hamburger a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-family: "Inter", serif;
}
nav #navbar .active {
  position: absolute;
  right: 0;
}

.mact #t {
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}
.mact #b {
  -webkit-transform: translate(0, -5px) rotate(45deg);
          transform: translate(0, -5px) rotate(45deg);
}

@media (max-width: 500px) {
  nav {
    padding: 0 20px;
  }
  nav #navbar h1 {
    font-size: 35px;
  }
  nav #navbar .cartanmenu {
    gap: 10px;
  }
  nav #navbar .cartanmenu .cart {
    font-size: 30px;
  }
  nav #navbar .cartanmenu .cart .itemm {
    width: 18px;
    height: 18px;
    font-size: 15px;
  }
  nav #navbar .cartanmenu .menu {
    width: 25px;
    height: 25px;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.hero .title {
  height: calc(100vh - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .title h1 {
  text-align: center;
  font-size: 22vw;
  font-family: "Inter", serif;
}
.hero .imge {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .imge .img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.hero .imge .img img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.hero .air img {
  -webkit-transform: translate(-10%, 0) rotate(-22deg);
          transform: translate(-10%, 0) rotate(-22deg);
  height: 50%;
}
.hero .sport img {
  -webkit-transform: translate(0, 10%) rotate(10deg);
          transform: translate(0, 10%) rotate(10deg);
  height: 100%;
}
.hero .jorden img {
  -webkit-transform: translate(-10%, 0) rotate(-22deg);
          transform: translate(-10%, 0) rotate(-22deg);
  height: 55%;
}
.hero .btn {
  height: 230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 50px;
  position: relative;
  z-index: 5;
}
.hero .btn .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.hero .btn .btns .box {
  height: 50px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.212);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.212);
}
.hero .a {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .s {
  -webkit-transform: translate(0, 15%) rotate(40deg);
          transform: translate(0, 15%) rotate(40deg);
  height: 120%;
}
.hero .j {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .scrol {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .scrol p {
  font-size: 20px;
  font-family: "Inter", serif;
  color: #000;
  font-weight: 500;
}
.hero .scrol .bars {
  width: 3px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.222);
  position: relative;
  overflow: hidden;
}
.hero .scrol .bars .bar {
  position: absolute;
  top: -25px;
  width: 100%;
  height: 100%;
  background-color: black;
}

@media (max-width: 490px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 25%;
  }
  .hero .sport img {
    height: 50%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 25%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .hero .scrol p {
    font-size: 16px;
  }
}
@media (min-width: 490px) and (max-width: 768px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 30%;
  }
  .hero .sport img {
    height: 60%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 30%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 35%;
  }
  .hero .sport img {
    height: 65%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 35%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.about .la,
.about .aa,
.about .fa {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about .la .cnt {
  padding: 0 100px;
}
.about .la .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.about .la .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}
.about .la .cnt p #bold {
  font-size: 40px;
  color: #000;
  font-weight: 900;
}
.about .aa .cnt {
  padding: 0 100px;
}
.about .aa .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.about .aa .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}
.about .fa .cnt {
  padding: 0 100px;
}
.about .fa .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.about .fa .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}

.star {
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

.shop {
  width: 100%;
  height: 100vh;
}