@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
  position: relative;
}

.stop {
  overflow: hidden;
}
.stop .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.719);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 5;
}

.mm {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0;
}

.opacity {
  opacity: 0;
}

.love {
  color: rgb(245, 14, 14);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grey {
  background-color: #cecece;
  color: #fff;
}

.green {
  background-color: #93ca00;
  color: #1e4255;
}

.red {
  background-color: #b10728;
  color: #fff;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 0 50px;
  z-index: 99;
}
nav #navbar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav #navbar h1 {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 40px;
  color: #000;
  position: relative;
}
nav #navbar .cartanmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
nav #navbar .cartanmenu .cart {
  position: relative;
  font-size: 35px;
  color: #000;
  cursor: pointer;
}
nav #navbar .cartanmenu .cart .itemm {
  width: 23px;
  height: 23px;
  position: absolute;
  background: rgba(255, 255, 255, 0.937);
  top: 0;
  right: 0;
  border: 1px solid black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
nav #navbar .cartanmenu .cart a {
  text-decoration: none;
  color: #000;
}
nav #navbar .cartanmenu .menu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 50;
}
nav #navbar .cartanmenu .menu #t,
nav #navbar .cartanmenu .menu #b {
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav #navbar .hamburger {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 350px;
  width: 100%;
  z-index: 15;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
nav #navbar .hamburger a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-family: "Inter", serif;
}
nav #navbar .kixster-black {
  background-color: #f5f5f5;
}
nav #navbar .kixster-black a {
  color: #000;
}
nav #navbar .active {
  position: absolute;
  right: 0;
}

.mact #t {
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}
.mact #b {
  -webkit-transform: translate(0, -5px) rotate(45deg);
          transform: translate(0, -5px) rotate(45deg);
}

@media (max-width: 500px) {
  nav {
    padding: 0 20px;
  }
  nav #navbar h1 {
    font-size: 35px;
  }
  nav #navbar .cartanmenu {
    gap: 10px;
  }
  nav #navbar .cartanmenu .cart {
    font-size: 30px;
  }
  nav #navbar .cartanmenu .cart .itemm {
    width: 18px;
    height: 18px;
    font-size: 15px;
  }
  nav #navbar .cartanmenu .menu {
    width: 25px;
    height: 25px;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.hero .title {
  height: calc(100vh - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .title h1 {
  text-align: center;
  font-size: 22vw;
  font-family: "Inter", serif;
}
.hero .imge {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .imge .img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.hero .imge .img img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.hero .air img {
  -webkit-transform: translate(-10%, 0) rotate(-22deg);
          transform: translate(-10%, 0) rotate(-22deg);
  height: 50%;
}
.hero .sport img {
  -webkit-transform: translate(0, 10%) rotate(10deg);
          transform: translate(0, 10%) rotate(10deg);
  height: 100%;
}
.hero .jorden img {
  -webkit-transform: translate(-10%, 0) rotate(-22deg);
          transform: translate(-10%, 0) rotate(-22deg);
  height: 55%;
}
.hero .btn {
  height: 230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 50px;
  position: relative;
  z-index: 5;
}
.hero .btn .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.hero .btn .btns .box {
  height: 50px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.212);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.212);
}
.hero .a {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .s {
  -webkit-transform: translate(0, 15%) rotate(40deg);
          transform: translate(0, 15%) rotate(40deg);
  height: 120%;
}
.hero .j {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .scrol {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .scrol p {
  font-size: 20px;
  font-family: "Inter", serif;
  color: #000;
  font-weight: 500;
}
.hero .scrol .bars {
  width: 3px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.222);
  position: relative;
  overflow: hidden;
}
.hero .scrol .bars .bar {
  position: absolute;
  top: -25px;
  width: 100%;
  height: 100%;
  background-color: black;
}

@media (max-width: 490px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 25%;
  }
  .hero .sport img {
    height: 50%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 25%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .hero .scrol p {
    font-size: 16px;
  }
}
@media (min-width: 490px) and (max-width: 768px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 30%;
  }
  .hero .sport img {
    height: 60%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 30%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero .air img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 35%;
  }
  .hero .sport img {
    height: 65%;
  }
  .hero .jorden img {
    -webkit-transform: translate(-8%, 0) rotate(-22deg);
            transform: translate(-8%, 0) rotate(-22deg);
    height: 35%;
  }
  .hero .btn {
    height: 220px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .hero .btn .btns .box img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.about .la,
.about .aa,
.about .fa {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about .la .cnt {
  padding: 0 100px;
}
.about .la .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.about .la .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}
.about .la .cnt p #bold {
  font-size: 40px;
  color: #000;
  font-weight: 900;
}
.about .aa .cnt {
  padding: 0 100px;
}
.about .aa .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.about .aa .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}
.about .fa .cnt {
  padding: 0 100px;
}
.about .fa .cnt h2 {
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.about .fa .cnt p {
  font-size: 30px;
  font-family: "Mukta", serif;
}

.star {
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 769px) {
  .about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  .about .la,
  .about .aa,
  .about .fa {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 50px 0;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .about .la .cnt {
    padding: 30px 20px;
  }
  .about .la .cnt h2 {
    color: #000;
    font-size: 8vw;
    font-family: "Inter", serif;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .about .la .cnt p {
    font-size: 16px;
    font-family: "Mukta", serif;
  }
  .about .la .cnt p #bold {
    font-size: 30px;
    color: #000;
    font-weight: 900;
  }
  .about .aa .cnt,
  .about .fa .cnt {
    padding: 0 20px;
  }
  .about .aa .cnt h2,
  .about .fa .cnt h2 {
    color: #000;
    font-size: 8vw;
    font-family: "Inter", serif;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .about .aa .cnt p,
  .about .fa .cnt p {
    margin: 20px 0;
    font-size: 16px;
    font-family: "Mukta", serif;
  }
  .star {
    font-weight: 900;
    color: #000;
    text-align: center;
    text-transform: capitalize;
  }
}
#shop {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}
#shop #shop-cnt {
  padding: 100px 0 20px 0;
  width: 100%;
}
#shop #shop-cnt h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 5vw;
  font-family: "Inter", serif;
  margin-bottom: 50px;
  text-transform: uppercase;
  gap: 20px;
  font-size: 5vw;
}
#shop #shop-cnt h2 #emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
}
#shop #shop-cnt h2 #emoji img {
  height: 100%;
  width: 100%;
}
#shop #shop-cnt #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}
#shop #shop-cnt #navigation h4 {
  color: #000;
  font-size: 30px;
  font-family: "Inter", serif;
}
#shop #shop-cnt #container {
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
#shop #shop-cnt #container .swiper {
  width: 80%;
  height: 100%;
}
#shop #shop-cnt #container .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card {
  width: 350px;
  height: 90%;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img:hover img {
  scale: 1.1;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt {
  height: 20%;
  padding: 0 10px;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal p {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 23px;
  color: #000;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal i {
  font-size: 25px;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .o,
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .n {
  font-size: 18px;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .o {
  -webkit-text-decoration: 2px red line-through;
          text-decoration: 2px red line-through;
}
#shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  font-family: "Inter", serif;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  #shop {
    padding: 0 20px;
  }
  #shop #shop-cnt {
    padding: 100px 0 20px 0;
    width: 100%;
  }
  #shop #shop-cnt h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    font-size: 5vw;
    font-family: "Inter", serif;
    margin-bottom: 50px;
    text-transform: uppercase;
    gap: 20px;
    font-size: 5vw;
  }
  #shop #shop-cnt h2 #emoji {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 60px;
  }
  #shop #shop-cnt h2 #emoji img {
    height: 100%;
    width: 100%;
  }
  #shop #shop-cnt #navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 0;
  }
  #shop #shop-cnt #navigation h4 {
    color: #000;
    font-size: 30px;
    font-family: "Inter", serif;
  }
  #shop #shop-cnt #container {
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  #shop #shop-cnt #container .swiper {
    width: 100%;
    height: 100%;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card {
    width: 300px;
    height: 90%;
    border-radius: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-img:hover img {
    scale: 1.1;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt {
    height: 20%;
    padding: 0 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal {
    padding: 2% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal p {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 23px;
    color: #000;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pal i {
    font-size: 25px;
    cursor: pointer;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .o,
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .n {
    font-size: 18px;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab .price .o {
    -webkit-text-decoration: 2px red line-through;
            text-decoration: 2px red line-through;
  }
  #shop #shop-cnt #container .swiper .swiper-wrapper .swiper-slide .card .card-cnt .pab button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .swiper-slide {
    width: 50% !important;
  }
}
@media (min-width: 1025px) {
  .swiper-slide {
    width: 33.33% !important;
  }
}
@media (min-width: 769px) and (max-width: 1015px) {
  #shop {
    padding: 0 20px;
  }
  #shop #shop-cnt h2 {
    font-size: 8vw;
    margin-bottom: 10px;
  }
  #shop #shop-cnt h2 #emoji {
    height: 7%;
    width: 7%;
  }
  #shop #shop-cnt #navigation h4 {
    font-size: 30px;
  }
  #shop #shop-cnt #container .swiper {
    width: 100%;
  }
  #shop #shop-cnt #container .swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card {
    width: 350px;
    height: 90%;
    border-radius: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img:hover img {
    scale: 1.1;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt {
    height: 20%;
    padding: 0 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal {
    padding: 2% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal p {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 23px;
    color: #000;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal i {
    font-size: 25px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .o,
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .n {
    font-size: 18px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .o {
    -webkit-text-decoration: 2px red line-through;
            text-decoration: 2px red line-through;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
  }
}
@media (min-width: 1015px) and (max-width: 1300px) {
  #shop {
    padding: 0 20px;
  }
  #shop #shop-cnt h2 {
    font-size: 8vw;
    margin-bottom: 10px;
  }
  #shop #shop-cnt h2 #emoji {
    height: 7%;
    width: 7%;
  }
  #shop #shop-cnt #navigation h4 {
    font-size: 30px;
  }
  #shop #shop-cnt #container .swiper {
    width: 100%;
  }
  #shop #shop-cnt #container .swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card {
    width: 350px;
    height: 90%;
    border-radius: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-img:hover img {
    scale: 1.1;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt {
    height: 20%;
    padding: 0 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal {
    padding: 2% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal p {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 23px;
    color: #000;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pal i {
    font-size: 25px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .o,
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .n {
    font-size: 18px;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab .price .o {
    -webkit-text-decoration: 2px red line-through;
            text-decoration: 2px red line-through;
  }
  #shop #shop-cnt #container .swiper .swiper-slide .card .card-cnt .pab button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
  }
}
#contact {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}
#contact #heading {
  padding: 100px 20px;
}
#contact #heading h2 {
  font-size: clamp(4.2rem, 10vw, 8rem);
  font-weight: 500;
  font-family: "Inter", serif;
}
#contact #center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}
#contact #center #left {
  width: 50%;
  padding-right: 50px;
  position: relative;
}
#contact #center #left h3,
#contact #center #left h4 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 2.5rem);
}
#contact #center #left h3 {
  margin-bottom: 50px;
}
#contact #center #right {
  width: 50%;
}
#contact #center #right form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#contact #center #right form .name,
#contact #center #right form .email,
#contact #center #right form .message,
#contact #center #right form .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact #center #right form .name label,
#contact #center #right form .email label,
#contact #center #right form .message label,
#contact #center #right form .end label {
  font-weight: 400;
  font-family: "Inter", serif;
  font-size: clamp(16px, 3vw, 2rem);
}
#contact #center #right form .name label sup,
#contact #center #right form .email label sup,
#contact #center #right form .message label sup,
#contact #center #right form .end label sup {
  font-weight: 900;
  font-family: "Inter", serif;
  font-size: clamp(16px, 3vw, 20px);
}
#contact #center #right form .name input,
#contact #center #right form .name textarea,
#contact #center #right form .email input,
#contact #center #right form .email textarea,
#contact #center #right form .message input,
#contact #center #right form .message textarea,
#contact #center #right form .end input,
#contact #center #right form .end textarea {
  outline: none;
  padding: 5px;
  font-family: "Mukta", serif;
  border: none;
  border: 1px solid #cecece;
  border-radius: 5px;
  resize: none;
  font-size: clamp(16px, 3vw, 1.2rem);
  background-color: #f5f5f5;
}
#contact #center #right form .name input,
#contact #center #right form .email input,
#contact #center #right form .message input,
#contact #center #right form .end input {
  height: 50px;
}
#contact #center #right form .name textarea,
#contact #center #right form .email textarea,
#contact #center #right form .message textarea,
#contact #center #right form .end textarea {
  height: 100px;
}
#contact #center #right form .name .sendMessage,
#contact #center #right form .email .sendMessage,
#contact #center #right form .message .sendMessage,
#contact #center #right form .end .sendMessage {
  height: 50px;
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: clamp(16px, 2vw, 1.2rem);
}

@media (max-width: 769px) {
  #contact #heading {
    padding: 100px 20px 50px;
  }
  #contact #heading h2 {
    text-align: center;
    font-size: 15vw;
  }
  #contact #center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  #contact #center #left {
    width: 100%;
    padding-right: 0;
  }
  #contact #center #left h3 {
    margin-bottom: 20px;
  }
  #contact #center #right {
    width: 100%;
  }
  #contact #center #right form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #contact #center #right form .name .sendMessage,
  #contact #center #right form .email .sendMessage,
  #contact #center #right form .message .sendMessage,
  #contact #center #right form .end .sendMessage {
    height: 30px;
  }
}