# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Parcel cache and build files
dist/
.parcel-cache/
.qodo

# VS Code settings
.vscode/

# System files (Mac & Windows)
.DS_Store
Thumbs.db

