.about {
  width: $f;
  display: flex;
  position: relative;
  overflow: hidden;
  .la,
  .aa,
  .fa {
    @include f;
    @include cf;
    flex-shrink: 0;
  }
  .la {
    .cnt {
      padding: 0 100px;
      h2 {
        @include head;
      }
      p {
        font-size: 30px;
        font-family: $para;
        #bold {
          font-size: 40px;
          color: $black;
          font-weight: 900;
        }
      }
    }
  }
  .aa {
    .cnt {
      padding: 0 100px;
      h2 {
        @include head;
      }
      p {
        font-size: 30px;
        font-family: $para;
      }
    }
  }
  .fa {
    .cnt {
      padding: 0 100px;
      h2 {
        @include head;
      }
      p {
        font-size: 30px;
        font-family: $para;
      }
    }
  }
}
.star {
  font-weight: 900;
  color: $black;
  text-align: center;
  text-transform: capitalize;
}
