.cartsection {
  width: $f;
  min-height: $vf;
  background-color: #f5f5f5;
  position: relative;
  .emptycart {
    flex-direction: column;
    @include cf;
    gap: 10px;
    h3 {
      font-family: $para;
      font-weight: 600;
      font-size: clamp(1.5rem, 4vw, 3rem);
      line-height: 0.8;
      text-align: center;
    }
  }
  .cart-pannel {
    width: 100%;
    min-height: 100dvh;
    padding: 100px 50px 20px;
    display: flex;
    gap: 10px;
    .address,
    .total {
      height: 100%;
      padding: 20px;
      border: 1px solid black;
      border-radius: 20px;
    }
    .address {
      width: 60%;
      h3 {
        font-family: $head;
        font-size: clamp(30px, 5vw, 3.5rem);
        margin-bottom: 30px;
      }
      form {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        display: flex;
        .name,
        .emailadd,
        .ad,
        .city,
        .state,
        .zip {
          flex-direction: column;
          gap: 5px;
          display: flex;

          label {
            font-family: $head;
            font-size: clamp(16px, 3vw, 1.5rem);
            font-weight: 400;
            sup {
              font-family: $head;
              font-size: clamp(16px, 3vw, 20px);
              font-weight: 900;
            }
          }
          input {
            resize: none;
            background-color: #f5f5f5;
            border: 1px solid #cecece;
            border-radius: 5px;
            outline: none;
            padding: 5px;
            font-family: $para;
            font-size: clamp(16px, 3vw, 1.2rem);
          }
        }
        #checkoutbtn {
          @include cf;
          button {
            color: #fff;
            background-color: #000;
            border: none;
            width: 200px;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: clamp(16px, 2vw, 1.2rem);
            cursor: pointer;
            height: 50px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .total {
      width: 40%;
      .cart-container {
        .cartitem {
          width: 100%;
          max-width: 490px;
          height: 100px;
          margin: 10px auto;
          @include ch;
          gap: 20px;
          .cii {
            width: 150px;
            height: 100%;
            img {
              border-radius: 8px;
              @include img;
            }
          }
          .cia {
            height: $f;
            width: $f;
            h4 {
              font-family: $head;
              font-size: clamp(20px, 4vw, 1.2rem);
              margin-bottom: 20px;
            }
            .ciaa {
              @include ch;
              justify-content: space-between;
              padding: 5px 10px;
              p {
                font-size: 18px;
                font-family: $para;
              }
              button {
                background-color: transparent;
                border: none;
                i {
                  font-size: 20px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      // .total-amt {
      // }
    }
  }
}
.centercart {
  @include cf;
}

@media (max-width: 990px) {
  .cartsection {
    .emptycart {
      flex-direction: column;
      @include cf;
      gap: 10px;
      h3 {
        font-family: $para;
        font-weight: 600;
        font-size: clamp(1.5rem, 4vw, 3rem);
        line-height: 0.8;
        text-align: center;
      }
    }
    .cart-pannel {
      width: 100%;
      min-height: 100dvh;
      padding: 100px 20px 0px;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      .address,
      .cart-container {
        height: 100%;
        width: 100%;
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
      }
      // .address {
      //   // background-color: red;
      // }
      .cart-container {
        background-color: blue;
      }
    }
  }
}
