.hero {
  width: $f;
  height: $vf;
  overflow: hidden;
  position: relative;
  transition: 0.5s all ease-in;
  .title {
    height: calc(100vh - 300px);
    @include cf;
    h1 {
      text-align: center;
      font-size: 22vw;
      font-family: $head;
    }
  }
  .imge {
    position: absolute;
    width: $f;
    height: $vf;
    top: 0;
    left: 0;
    z-index: 2;
    @include cf;
    .img {
      position: absolute;
      width: $f;
      height: $vf;
      @include cf;
      transition: 0.5s all ease-in-out;
      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .air {
    img {
      transform: translate(-10%, 0) rotate(-22deg);
      height: 50%;
    }
  }
  .sport {
    img {
      transform: translate(0, 10%) rotate(10deg);
      height: 100%;
    }
  }
  .jorden {
    img {
      transform: translate(-10%, 0) rotate(-22deg);
      height: 55%;
    }
  }
  .btn {
    height: 230px;
    width: $f;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 50px;
    position: relative;
    z-index: 5;
    .btns {
      display: flex;
      gap: 20px;
      .box {
        height: 50px;
        width: 80px;
        @include cf;

        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.212);
      }
    }
  }
  .a {
    @include imgbtn;
  }
  .s {
    transform: translate(0, 15%) rotate(40deg);
    height: 120%;
  }
  .j {
    @include imgbtn;
  }

  .scrol {
    height: 50px;
    @include cf;
    flex-direction: column;
    p {
      font-size: 20px;
      font-family: $head;
      color: $black;
      font-weight: 500;
    }
    .bars {
      width: 3px;
      height: 25px;
      background-color: rgba(0, 0, 0, 0.222);
      position: relative;
      overflow: hidden;
      .bar {
        position: absolute;
        top: -25px;
        width: $f;
        height: $f;
        background-color: black;
      }
    }
  }
}

@media (max-width: 490px) {
  .hero {
    height: var(--real-height, #{$vf});
    .air {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 25%;
      }
    }
    .sport {
      img {
        height: 50%;
      }
    }
    .jorden {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 25%;
      }
    }
    .btn {
      height: 22.3vh;
      padding: 0 20px;
      margin-bottom: 20px;
      .btns {
        .box {
          img {
            user-select: none;
          }
        }
      }
    }
    .scrol {
      p {
        font-size: 16px;
      }
    }
  }
}
@media (min-width: 490px) and (max-width: 768px) {
  .hero {
    .air {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 30%;
      }
    }
    .sport {
      img {
        height: 60%;
      }
    }
    .jorden {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 30%;
      }
    }
    .btn {
      height: 220px;
      padding: 0 20px;
      margin-bottom: 20px;
      .btns {
        .box {
          img {
            user-select: none;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero {
    .air {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 35%;
      }
    }
    .sport {
      img {
        height: 65%;
      }
    }
    .jorden {
      img {
        transform: translate(-8%, 0) rotate(-22deg);
        height: 35%;
      }
    }
    .btn {
      height: 220px;
      padding: 0 20px;
      margin-bottom: 20px;
      .btns {
        .box {
          img {
            user-select: none;
          }
        }
      }
    }
  }
}
