nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 0 50px;
  z-index: 99;
  #navbar {
    width: $f;
    height: $f;
    @include ch;
    justify-content: space-between;
    h1 {
      font-family: $head;
      font-weight: 500;
      font-size: 40px;
      color: $black;
      position: relative;
    }
    .cartanmenu {
      @include ch;
      gap: 30px;
      .cart {
        position: relative;
        font-size: 35px;
        color: $black;
        cursor: pointer;
        .itemm {
          width: 23px;
          height: 23px;
          position: absolute;
          background: rgba(255, 255, 255, 0.937);
          top: 0;
          right: 0;
          border: 1px solid black;
          font-size: 20px;
          @include cf;
          border-radius: 50%;
        }
        a {
          text-decoration: none;
          color: $black;
        }
      }
      .menu {
        cursor: pointer;
        width: 50px;
        height: 50px;
        @include ch;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        position: relative;
        z-index: 50;

        #t,
        #b {
          @include m;
          transition: 0.5s;
        }
      }
    }

    .hamburger {
      position: absolute;
      top: 0;
      right: -100%;
      height: $vf;
      display: flex;
      justify-content: end;
      transition: 0.5s;
      max-width: 350px;
      width: 100%;
      z-index: 15;

      @include cf;
      flex-direction: column;
      gap: 50px;
      a {
        text-decoration: none;
        color: $white;
        font-size: 40px;
        font-family: $head;
      }
    }
    .active {
      position: absolute;
      right: 0;
    }
  }
}
.mact {
  #t {
    transform: translate(0, 11px) rotate(-45deg);
  }
  #b {
    transform: translate(0, -5px) rotate(45deg);
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0 20px;
    #navbar {
      h1 {
        font-size: 35px;
      }
      .cartanmenu {
        gap: 10px;
        .cart {
          font-size: 30px;
          .itemm {
            width: 18px;
            height: 18px;
            font-size: 15px;
          }
        }
        .menu {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
