#shop {
  width: 100%;
  min-height: 100vh;
  @include cf;
  padding: 0 50px;
  #shop-cnt {
    padding: 100px 0 20px 0;
    width: $f;
    h2 {
      @include ch;
      @include head;
      gap: 20px;
      font-size: clamp(40px, 5vw, 5rem);
    }
    #navigation {
      @include ch;
      justify-content: space-between;
      margin: 5px 0;
      h4 {
        color: $black;
        font-size: clamp(25px, 2.2vw, 2.5rem);
        font-family: $head;
      }
    }
    #container {
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .swiper {
        // width: 0%;
        height: 100%;

        .swiper-wrapper {
          display: flex;
          gap: 20px;

          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            .card {
              width: 350px;
              height: 90%;
              border-radius: 15px;
              user-select: none;
              overflow: hidden;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
              .card-img {
                width: $f;
                height: 80%;
                overflow: hidden;
                img {
                  @include ff;
                  object-fit: cover;
                  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
                }
              }
              .card-img:hover {
                img {
                  scale: 1.1;
                }
              }
              .card-cnt {
                height: 20%;
                padding: 0 10px;
                .pal {
                  padding: 2% 0;
                  p {
                    font-family: $head;
                    font-weight: 700;
                    font-size: 23px;
                    color: $black;
                  }
                }
                .pab {
                  height: 50%;
                  @include ch;
                  .price {
                    @include ch;
                    gap: 10px;
                    .o,
                    .n {
                      font-size: 18px;
                    }
                    .o {
                      text-decoration: 2px red line-through;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// .hover:hover {
//   text-decoration: underline;
// }

@media (max-width: 768px) {
  #shop {
    width: 100%;
    min-height: 100vh;
    @include cf;
    padding: 0 20px;
    #shop-cnt {
      padding: 100px 0 0px 0;
      width: $f;
      h2 {
        @include ch;
        @include head;
        gap: 20px;
        font-size: clamp(40px, 5vw, 5rem);
      }
      #navigation {
        @include ch;
        justify-content: space-between;
        margin: 0;
        h4 {
          color: $black;
          font-size: clamp(25px, 2.2vw, 2.5rem);
          font-family: $head;
          font-weight: 400;
        }
      }
      #container {
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .swiper {
          // width: 0%;
          height: 100%;

          .swiper-wrapper {
            display: flex;
            gap: 20px;

            .swiper-slide {
              display: flex;
              justify-content: center;
              align-items: center;

              .card {
                width: 350px;
                height: 90%;
                border-radius: 15px;
                user-select: none;
                overflow: hidden;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
                .card-img {
                  width: $f;
                  height: 80%;
                  overflow: hidden;
                  img {
                    @include ff;
                    object-fit: cover;
                    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
                  }
                }
                .card-img:hover {
                  img {
                    scale: 1.1;
                  }
                }
                .card-cnt {
                  height: 20%;
                  padding: 0 10px;
                  .pal {
                    padding: 2% 0;
                    p {
                      font-family: $head;
                      font-weight: 500;
                      font-size: 23px;
                      color: $black;
                    }
                  }
                  .pab {
                    height: 50%;
                    @include ch;
                    font-family: $para;
                    .price {
                      @include ch;
                      gap: 10px;
                      .o,
                      .n {
                        font-size: 18px;
                      }
                      .o {
                        text-decoration: 2px red line-through;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .swiper-slide {
    width: 50% !important;
  }
}

@media (min-width: 1025px) {
  .swiper-slide {
    width: 33.33% !important;
  }
}

// @media (max-width: 769px) {
//   #shop {
//     padding: 0 20px;
//     #shop-cnt {
//       padding: 90px 0 10px 0;
//       h2 {
//         font-size: 6.2vw;
//         margin-bottom: 10px;
//         #emoji {
//           height: 7%;
//           width: 7%;
//         }
//       }
//       #navigation {
//         h4 {
//           font-size: 4.5vw;
//         }
//       }
//       #container {
//         .swiper {
//           width: $f;
//         }
//       }
//     }
//   }
// }
// @media (min-width: 769px) and (max-width: 1015px) {
//   #shop {
//     padding: 0 20px;
//     #shop-cnt {
//       h2 {
//         font-size: 8vw;
//         margin-bottom: 10px;
//         #emoji {
//           height: 7%;
//           width: 7%;
//         }
//       }
//       #navigation {
//         h4 {
//           font-size: 30px;
//         }
//       }
//       #container {
//         .swiper {
//           width: $f;
//           .swiper-slide {
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .card {
//               width: 350px;
//               height: 90%;
//               border-radius: 15px;
//               user-select: none;
//               overflow: hidden;
//               box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
//               .card-img {
//                 width: $f;
//                 height: 80%;
//                 overflow: hidden;
//                 img {
//                   @include ff;
//                   object-fit: cover;
//                   transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
//                 }
//               }
//               .card-img:hover {
//                 img {
//                   scale: 1.1;
//                 }
//               }
//               .card-cnt {
//                 height: 20%;
//                 padding: 0 10px;
//                 .pal {
//                   padding: 2% 0;
//                   @include ch;
//                   justify-content: space-between;
//                   p {
//                     font-family: $head;
//                     font-weight: 700;
//                     font-size: 23px;
//                     color: $black;
//                   }
//                   i {
//                     font-size: 25px;
//                   }
//                 }
//                 .pab {
//                   height: 50%;
//                   @include ch;
//                   justify-content: space-between;
//                   .price {
//                     @include ch;
//                     justify-content: space-between;
//                     gap: 10px;
//                     .o,
//                     .n {
//                       font-size: 18px;
//                     }
//                     .o {
//                       text-decoration: 2px red line-through;
//                     }
//                   }
//                   button {
//                     border: none;
//                     background-color: transparent;
//                     cursor: pointer;
//                     color: inherit;
//                     height: fit-content;
//                     font-size: 16px;
//                     font-family: $head;
//                     border-radius: 20px;
//                     padding: 5px 10px;
//                     background-color: black;
//                     color: white;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
// @media (min-width: 1015px) and (max-width: 1300px) {
//   #shop {
//     padding: 0 20px;
//     #shop-cnt {
//       h2 {
//         font-size: 8vw;
//         margin-bottom: 10px;
//         #emoji {
//           height: 7%;
//           width: 7%;
//         }
//       }
//       #navigation {
//         h4 {
//           font-size: 30px;
//         }
//       }
//       #container {
//         .swiper {
//           width: $f;
//           .swiper-slide {
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .card {
//               width: 350px;
//               height: 90%;
//               border-radius: 15px;
//               user-select: none;
//               overflow: hidden;
//               box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.212);
//               .card-img {
//                 width: $f;
//                 height: 80%;
//                 overflow: hidden;
//                 img {
//                   @include ff;
//                   object-fit: cover;
//                   transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
//                 }
//               }
//               .card-img:hover {
//                 img {
//                   scale: 1.1;
//                 }
//               }
//               .card-cnt {
//                 height: 20%;
//                 padding: 0 10px;
//                 .pal {
//                   padding: 2% 0;
//                   @include ch;
//                   justify-content: space-between;
//                   p {
//                     font-family: $head;
//                     font-weight: 700;
//                     font-size: 23px;
//                     color: $black;
//                   }
//                   i {
//                     font-size: 25px;
//                   }
//                 }
//                 .pab {
//                   height: 50%;
//                   @include ch;
//                   justify-content: space-between;
//                   .price {
//                     @include ch;
//                     justify-content: space-between;
//                     gap: 10px;
//                     .o,
//                     .n {
//                       font-size: 18px;
//                     }
//                     .o {
//                       text-decoration: 2px red line-through;
//                     }
//                   }
//                   button {
//                     border: none;
//                     background-color: transparent;
//                     cursor: pointer;
//                     color: inherit;
//                     height: fit-content;
//                     font-size: 16px;
//                     font-family: $head;
//                     border-radius: 20px;
//                     padding: 5px 10px;
//                     background-color: black;
//                     color: white;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
