$head: 'Inter', serif;
$para: 'Mukta', serif;
$red: #b10728;
$grey: #cecece;
$green: #93ca00;
$black: #000;
$white: #fff;
$blue: #1e4255;
$vf: 100vh;
$f: 100%;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey {
  background-color: $grey;
  color: $white;
}
.green {
  background-color: $green;
  color: $blue;
}
.red {
  background-color: $red;
  color: $white;
}
@mixin f {
  height: $vf;
  width: $f;
}
@mixin m {
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: $black;
}

@mixin ch {
  display: flex;
  align-items: center;
}

@mixin cf {
  @include ch;
  justify-content: center;
}
@mixin img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
